<div class="home-container">
  <mat-card class="mat-card">
    <mat-tab-group mat-stretch-tabs="false" [selectedIndex]="1" class="home-tab-group">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="me-1">home</mat-icon>
          Home
        </ng-template>
        <mat-card-content class="mat-card-content">Home</mat-card-content>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="me-1">supervisor_account</mat-icon>
          Login Report
        </ng-template>
        <mat-card-content class="mat-card-content"><app-loginreport></app-loginreport></mat-card-content>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="me-1">person_add</mat-icon>
          Biometric Report
        </ng-template>
        <mat-card-content class="mat-card-content"><app-biometricreport></app-biometricreport></mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
